body {
    font-family: "Poiret One", serif;

}
  h1 {
    font-family:"Poiret One", serif;
    color: White;
    text-align: center;
    left: 0;
    line-height: 200px;
    margin-top: 150px;
    width: 100%;
    font-size: 70px;
}
  h2 {
    color: lightblue;
    font-size:12px;
    text-align: left;
  }

  h3 {
    color: lightblue;
    text-align: center;
    font-size: 30px;
  }

  div {
    color: black;
    text-align: center;
  }
.small {
  width: 200px;
}
.large {
  width: 250px;
  height: 250px;
}
#border{
  border: solid;
}
.dropbtn {
    background-color:purple ;
    color: white;
    padding: 16px;
    font-size: 14px;
    border: none;
    cursor: pointer;
}

.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #ccb3ff;
}
